body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: black;
}

button {
  background: black;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  font-size: 18px;
}
